@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //set the title and layout for the page
    ViewData["Title"] = "Product - Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Success message-->
<h2>Product Created</h2
    <p>Your product has been successfully submitted!</p>
    <a asp-action="Create">Create Another Product</a>
